img {
    max-width: 100%;
}

#tema2 .grid_code
{
   margin-top: 5%;
   display:grid;
   grid-template-columns: repeat(2, minmax(500px, 1fr));
   row-gap: 25px;
   padding: 5%;
}
#tema4 .grid_code,
#tema6 .grid_code
{
 
   display:grid;
   grid-template-columns: repeat(2, minmax(500px, 1fr));
   row-gap: 25px;
  
}

  #tema2 .links
  {
    grid-row:2;
  }
#tema6 .links {
  grid-row: 3;
}

@media (max-width: 500px) {

  #tema2 .grid_code,
  #tema4 .grid_code,
  #tema6 .grid_code{
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-columns: 1fr;
 }

}


