@font-face{
    font-family: Gotham-Deviant;
        src: url(../fonts.css/Gotham-Font/GothamBook.ttf);
}
@font-face{
    font-family: Gotham-DeviantBold;
        src: url(../fonts.css/Gotham-Font/GothamBold.ttf);
        font-weight: 600;
}
@font-face{
    font-family: Gotham-DeviantThin;
        src: url(../fonts.css/Gotham-Font/GothamLight.ttf);
        font-weight: 200;
}
body {
    background-color: #252525;
    color: #5FA0DD; 
    font-family: Gotham-Deviant;
    font-size: normal;
}
footer {
background-color: #FCFDFF;
color: #5FA0DD;
text-align: center;
}

h2{
    font-family: Gotham-DeviantBold;
}

img {
  max-width: 100%;
}
p {
    max-width: 62ch;
}
header {
    display: flex;
    flex-direction: row;
    background-color: #FCFDFF;
    color: #5FA0DD; 
    text-shadow: 2px 0px 5px#5FA0DD;
    text-decoration: none;
   
    
}  
header > a{
   margin-right: auto;   
   }
nav ul {
    display: flex;
    justify-self: flex-start;
    align-self: center; 
   gap: 40px;
}
nav ul > li > a {
    color: #5FA0DD; 
    text-shadow: 0px 0px 10px#5FA0DD;
    text-decoration: none;
  
}
   
nav ul > li  {
     display: inline-flex;
    justify-content: space-between;
   list-style: none; 
    align-items: center;
   
} 

.hide {
  display: none;
}

.links {
  margin-top: 10%;
  border-top: 2px solid #5FA0DD;
    grid-row:3 ;
}
.relateret_sites {
  margin-top: 10%;
  border-top: 2px solid #5FA0DD;
 
}


/* SPLASH*/ 

.splash
{
 display: block;
  width: 100%;
  height: auto;
}

/*forside layout*/ 
main {
     display: grid;
    grid-template-columns: repeat(3,1fr);

}
.categories {
grid-column: 2/2;
}

.categories figure {
    background-color:#252525;
    border: #FCFDFF 2px solid; 
     padding:5%;
}
.categories figure:nth-child(1):hover {

    background-color:#DE1B1B ;
}
.categories figure:nth-child(2):hover {
    background-color:#5FA0DD ;
}
.categories figure:nth-child(3):hover {
    background-color:#179B14 ;
}

.categories figure a{
   align-self: center;
   text-decoration: none;
   color: #FCFDFF;
}

/* breadcrumbs NAVIGATION*/

.breadcrumbs ul li p{
    gap: 5px;
}


.aboutMain,
.contact_me {
    display: grid;
    grid-template-columns: 1fr;
    padding: 5% 15% 5% 15%;
    row-gap: 2px;
}

/*ABOUT*/

.om_mig {
grid-column: 1/1;
margin: 10px;;
}
.floated {
    max-width: 300px;
    float: right;
    margin-left: 1rem;
}

.CV ul li {
    list-style-type: '> ';
} 


  /*===========PORTFOLIO SIDEN=============*/
  .portfolio {
    display: grid;
    grid-template-columns: 1fr;
  }
.portfolio_setup {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 25px;
  justify-self: center;
  align-self: start;
}

article {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  padding: 5%;
  border-radius: 5%;
}


 article img,
 .tema {
  grid-area: 1/1;
}
article img {
  
  filter: grayscale(90%)
}
.portfolio_setup > article img:hover,
.relateret_sites_container > article> a> img:hover{
  filter: grayscale(10%) blur(1px);
  background-color: #DE1B1B;
}
/*boks article får skiftende baggrundsfarve*/ 
.hoverK:hover {
  color: #FCFDFF;
  background-color: #DE1B1B;
}
.hoverD:hover {
  color: #FCFDFF;
  background-color: #179B14;
}
.hoverDK:hover {
  color: #FCFDFF;
  background-color: #193B6E;
}

.tema {
  font-family: Gotham-DeviantBold;
  font-size: 2em;
  color: #179B14;
  background-color: #FCFDFF;
  font-size: clamp(2rem, 3.2vw + 1rem, 3rem); /*flydende tekst alt efter viewport str.*/
  }
  
/* lad knapper stå lige i portfolio*/
article :last-child {
  margin-top: auto;
}
/*positionere så tekst ikke bliver blurry*/ 
#teksttema2{
  position: absolute;
  top: 25%;
  left: 10%;
  text-align: center;
}
#teksttema3{
  position: absolute;
  top: 23%;
  left: 45%;
  text-align: center;
}
#teksttema4{
  position: absolute;
  top: 23%;
  left: 77%;
  text-align: center;
}
#teksttema5{
  position: absolute;
  top: 85%;
  left: 10%;
  text-align: center;
}
#teksttema6{
  position: absolute;
  top: 85%;
  left: 45%;
  text-align: center;
}

/*ENKELTE TEMAER*/
#tema2,
#tema3,
#tema4,
#tema5,
#tema6 {
    display:grid;
    grid-template-columns: 1fr;

}

/*RELATERET PROJEKTER*/

.relateret_sites
{
display: grid;
grid-template-columns: 1fr ;

}
#relateret_sitesSection {
  grid-area: 1/1;
  grid-row: 1;
}
.relateret_sites_container {
  grid-area: 2/1 ;
  display: grid;
  grid-template-columns: repeat(2, minmax(500px, 1fr)) ;
  gap: 10px;
}
.relateret_sites_container img {
  inline-size: 100%;
}


.relateret_sites_container > article
{
display: grid;
justify-self: center;
align-self: start;

}
.relateret_sites_container > article > img
.relateret_sites_container > article > .reftema {
grid-area: 1/1;
}
.reftema {
   text-align: center;
  color: #179B14;
  background-color: #FCFDFF;
  font-size: clamp(2rem, 3.2vw + 1rem, 3rem); /*flydende tekst alt efter viewport str.*/
}

.hoverD > img {
  justify-self: start;
  align-self: flex-start;
}


/*=========kontakt========*/


.contact_container {
  display: grid;
 grid-template-columns: 1fr 1fr;
 column-gap: 10px;
 
}

.contact_form > h2 {
    padding-block: 2rem 1rem;
    text-align: center;
    font-family: Gotham-DeviantThin, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
  }
  
  button {
    overflow: visible;
  }
  
  button,
  select {
    text-transform: none;
  }
  
  button,
  input,
  select,
  textarea {
    color: #FCFDFF;
    font-family: Gotham-Deviant, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0;
  }
  
  input {
    line-height: normal;
  }
  
  textarea {
    overflow: auto;
  }
  
  #container {
    border: solid 0.1px #474544;
    max-width: 900px;
    /* margin: 10px auto; */
    position: relative;
  }
  
  form {
    padding: 37.5px;
    margin: 30px 0;
  }
  
  #h1_contact {
    font-family: Gotham-DeviantThin;
    font-weight: 400;
    color: #FCFDFF;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    padding-block-start: 1em;
  }
  
  input[type="text"],
  [type="email"],
  select {
    background: none;
    border: none;
    border-bottom: solid 2px #474544;
    color: #FCFDFF;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 2.3em 0;
    padding: 0 0 0.875em 0;
    text-transform: uppercase;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.3s;
  }
  
  textarea {
    background: none;
    border: none;
    border-bottom: solid 2px #474544;
    color: #FCFDFF;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 2em 0;
    padding: 0 0 1em 0;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.3s;
  }
  
  input[type="text"]:focus,
  [type="email"]:focus,
  textarea:focus {
    outline: 2px solid #5FA0DD;
    padding: 0 0 1em 0;
  }
  
  .name {
    width: 100%;
  }
  
  .email {
    width: 100%;
  }
  
  .telephone {
    width: 100%;
  }
  
  .subject {
    width: 100%;
  }
  #subject_input option{
    color: #252525;
  }
  
  select {
    appearance: none;
    background: url("img/svg/arrow_down.svg") no-repeat right;
    outline: none;
  }
  
  textarea {
    font-family: Gotham-DeviantThin, serif;
    color: #FCFDFF;
    font-size: 1.1rem;
    line-height: 150%;
    height: 150px;
    resize: none;
    width: 100%;
  }
  
  #form_button {
    background: none;
    border: solid 2px #474544;
    color: #FCFDFF;
    cursor: pointer;
    display: inline-block;
    font-family: Gotham-DeviantThin, sans-serif;
    font-size: 0.875em;
    outline: none;
    padding: 20px 35px;
    text-transform: uppercase;
    transition: all 0.3s;
  }
  
  #form_button:hover {
    background: #5FA0DD;
    color: #252525;
    text-shadow: 5px 2px 10px#FCFDFF;
  }


/*=======soMe========*/

.soMe_flexbox {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.soMe_flexbox > a {
  text-decoration: none;
  color: #5FA0DD;
  text-shadow: 0px 0px 2px #179B14;
}
.soMe_flexbox > img {
 width: 50px;
}

/*=============MOBILE==========*/

 @media (max-width: 500px) {

   /*=====BURGERMENU==== fra L&F projektet med ændringer*/
 
   .burgermenu img {
    width: 50px;
    height: auto;
    cursor: pointer;
   }
   .burgermenu {
    display: contents;
   }
   .burgermenu > ul {
     display: none;
   }
   /*viser contents hvis burgermenu er togglet til*/
   .burgermenu.shown ul {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: auto;
    
   }
   
   .toggle-btn {
    display: block;
    border: none;
    background: none;
    cursor: pointer;transition: 1s;
  }

   /*========PORTFOLIO=========*/
    .portfolio {
    display: grid;
    grid-template-columns: 1fr;
  }
.portfolio_setup {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  justify-items: center;
}

article {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  
}article img,
 .tema {
  grid-area: 1/1;
}
article img {
  filter: grayscale(90%)
}
.portfolio_setup > article>img:hover,
.relateret_sites_container > article> a> img:hover{
  filter: grayscale(10%) blur(1px);
  background-color: #DE1B1B;
  }
  .hoverK:hover {
    background-color: #DE1B1B;
  }
  .hoverD:hover {
    color: #FCFDFF;
    background-color: #179B14;
  }
  
  .tema {
    font-family: Gotham-DeviantBold;
    font-size: 2em;
    color: #179B14;
    background-color: #FCFDFF;
    font-size: clamp(2rem, 3.2vw + 1rem, 3rem); /*flydende tekst alt efter viewport str.*/
    }

    #teksttema2{
      position: absolute;
      top: 30%;
      left: 37%;
      text-align: center;
    }
    #teksttema3{
      position: absolute;
      top: 70%;
      left: 37%;
      text-align: center;
    }
     #teksttema4{
      position: absolute;
      top: 103%;
      left: 37%;
      text-align: center;
    }
    #teksttema5{
      position: absolute;
      top: 141%;
      left: 37%;
      text-align: center;
    }
    #teksttema6{
      position: absolute;
      top: 165%;
      left: 37%;
      text-align: center;
    } 

    /*=======RELATERET SITES=====*/

    .relateret_sites_container {
      grid-area: 2/1 ;
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
    }

    /*==========ABOUT=========*/
    .floated {
      float: right;
      margin-bottom: 1rem;
    }
    
    /* =========KONTAKT=========*/
    .contact_container {
      display: grid;
      grid-template-columns: 1fr ;
    }
    .soMe_flexbox {
      display: flex;
      flex-direction: column ;
    }
}